/*loader*/
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  animation: loader 0ms 3s both;
}
@keyframes loader {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-9999px);
  }
}
.loader .letter {
  font-family: "Shrikhand", cursive;
  padding: 5px;
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: letter infinite 0.3s alternate;
}
@keyframes letter {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1) translatey(-30px);
  }
}
.loader .letter--1 {
  animation-delay: 0.05s;
}
.loader .letter--2 {
  animation-delay: 0.1s;
}
.loader .letter--3 {
  animation-delay: 0.15s;
}
.loader .letter--4 {
  animation-delay: 0.2s;
  color: #FF79DA;
}
.loader .letter--5 {
  animation-delay: 0.25s;
}
.loader .letter--6 {
  animation-delay: 0.3s;
}
.loader .letter--7 {
  animation-delay: 0.35s;
}
.loader .letter--8 {
  animation-delay: 0.4s;
}

/*header*/
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px 0px grey;
  padding: 20px 0px 10px 0px;
}
.header i {
  position: absolute;
  font-size: 22px;
  top: 25px;
  left: 20px;
}
.header__logo {
  width: 175px;
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #404040;
}
.footer__logo {
  filter: invert(100%);
  margin: 25px 0px 0px 20px;
  width: 100px;
}
.footer__items {
  margin: 15px 0px 40px 20px;
}
.footer__items i {
  color: white;
  width: 14px;
  padding-right: 25px;
}
.footer__items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__items li {
  margin-top: 5px;
}
.footer__items a {
  color: white;
}

/*main*/
/*search-bar*/
.search-bar {
  background-color: #e8e8e8;
  margin-top: 65px;
  width: 100%;
  text-align: center;
}
.search-bar input {
  width: 125px;
  background-color: #e8e8e8;
  border: none;
  text-align: center;
  margin: 15px 0px 15px 0px;
}

/*discover*/
#discover {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
}
#discover h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin: 40px 75px 0px 75px;
}
#discover p {
  text-align: center;
  font-size: 18px;
  margin: 15px 30px 30px 30px;
}

#explore {
  width: 210px;
  margin-bottom: 50px;
  padding: 14px 17px 14px 17px;
  color: white;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: 1px solid #f8f8f8;
  border-radius: 100px;
}

/*fonction*/
.fonction {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}
.fonction h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 45px 20px 20px 20px;
}
.fonction a {
  width: 100%;
}
.fonction__card {
  display: flex;
  align-items: center;
  height: 75px;
  margin: 10px 20px 10px 20px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 2px #e8e8e8;
}
.fonction__card:hover {
  background-color: #ece1f9;
  border: 1px solid #ece1f9;
  box-shadow: 0px 5px 10px 2px #cfcfcf;
}
.fonction__card:hover i {
  color: #9356DC;
}
.fonction__card h3 {
  position: relative;
  left: -10px;
  margin-right: 10px;
  padding: 3px 7px 3px 7px;
  font-size: 14px;
  color: white;
  background: #9356DC;
  border: 2px solid #9356DC;
  border-radius: 100%;
}
.fonction__card i {
  margin-right: 20px;
  font-size: 22px;
  color: grey;
}
.fonction__card p {
  font-weight: 700;
}

/*restaurants*/
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding-bottom: 45px;
}
.restaurants h2 {
  margin: 50px 20px 10px 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 20px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 2px #e8e8e8;
}
.card__image p {
  position: absolute;
  right: 20px;
  text-align: center;
  color: #278870;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  width: 80px;
  padding: 8px 6px 5px 6px;
}
.card__image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px 15px 10px;
}
.card__body h3 {
  margin: 0;
}
.card__body p {
  margin: 0px;
  padding-top: 5px;
}
.card__logo svg {
  position: absolute;
  width: 24px;
  height: 22px;
  z-index: 2;
  right: 0;
  fill-opacity: 0;
  stroke-width: 20px;
  stroke: black;
  margin-right: 20px;
}
.card__logo svg:hover {
  fill-opacity: 1;
}

/*menu*/
.menu {
  margin: 280px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-radius: 35px 35px 0px 0px;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px 20px 20px;
}
.menu__heading h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
}
.menu__heading i {
  color: grey;
  font-size: 22px;
  padding-right: 20px;
}
.menu__body {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}
.menu form {
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: center;
}
.menu #explore {
  margin: 0;
}

/*plates*/
.plates {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.plates--1 {
  animation: starter 1000ms 0ms both;
}
@keyframes starter {
  0% {
    transform: translatex(-9999px);
  }
  100% {
    transform: translatex(0);
  }
}
.plates--2 {
  animation: plate 1000ms 800ms both;
}
@keyframes plate {
  0% {
    transform: translatex(-9999px);
  }
  100% {
    transform: translatex(0);
  }
}
.plates--3 {
  animation: dessert 1000ms 1600ms both;
}
@keyframes dessert {
  0% {
    transform: translatex(-9999px);
  }
  100% {
    transform: translatex(0);
  }
}
.plates h2 {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 5px;
}
.plates span p {
  width: 40px;
  height: 3px;
  border: 1.5px solid #99E2D0;
  background-color: #99E2D0;
  margin-top: 0;
}
.plates__choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px #e8e8e8;
  font-size: 14px;
  margin-bottom: 10px;
}
.plates__choices--1 {
  animation: item-1 1000ms 200ms;
}
.plates__choices--1:hover .plates__card-price .logo {
  opacity: 1;
}
@keyframes item-1 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--2 {
  animation: item-2 1000ms 400ms;
}
.plates__choices--2:hover .plates__card-check {
  display: block;
}
@keyframes item-2 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--3 {
  animation: item-3 1000ms 600ms;
}
.plates__choices--3:hover .plates__card-check {
  display: block;
}
@keyframes item-3 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--4 {
  animation: item-4 1000ms 1000ms;
}
.plates__choices--4:hover .plates__card-check {
  display: block;
}
@keyframes item-4 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--5 {
  animation: item-5 1000ms 1200ms;
}
.plates__choices--5:hover .plates__card-check {
  display: block;
}
@keyframes item-5 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--6 {
  animation: item-6 1000ms 1400ms;
}
.plates__choices--6:hover .plates__card-check {
  display: block;
}
@keyframes item-6 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--7 {
  animation: item-7 1000ms 1800ms;
}
.plates__choices--7:hover .plates__card-check {
  display: block;
}
@keyframes item-7 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--8 {
  animation: item-8 1000ms 2000ms;
}
.plates__choices--8:hover .plates__card-check {
  display: block;
}
@keyframes item-8 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__choices--9 {
  animation: item-9 1000ms 2200ms;
}
.plates__choices--9:hover .plates__card-check {
  display: block;
}
@keyframes item-9 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__card-text h3 {
  margin: 10px 0px 0px 10px;
}
.plates__card-text p {
  width: 200px;
  margin: 5px 0px 10px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plates__card-price {
  display: flex;
  flex-direction: row;
  position: relative;
  right: -60px;
  animation: card-price 1000ms 200ms;
}
.plates__card-price p {
  font-weight: 700;
  margin-bottom: 10px;
  padding: 20px 20px 0px 20px;
}
.plates__card-price .logo {
  padding: 15px 16px 15px 16px;
  width: 60px;
  height: 60px;
  color: white;
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
}
.plates__card-price .logo i {
  font-size: 24px;
  animation: check 500ms 500ms;
}
@keyframes check {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes card-price {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.plates__card-check {
  display: none;
  padding: 15px 16px 15px 16px;
  width: 60px;
  height: 60px;
  color: white;
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: card-check 1000ms 0ms;
}
.plates__card-check i {
  font-size: 25px;
  animation: check 500ms 500ms;
}
@keyframes check {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes card-check {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

#wallpaper img {
  position: absolute;
  z-index: -1;
  top: 0;
  margin-top: 65px;
  width: 100%;
  height: 270px;
  object-fit: cover;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
