@mixin check-animation {
   &:hover .plates__card-text, :active .plates__card-text{
      width: calc(100% - 124px);
   }
   &:hover .check, :active .check {
      padding: 15px 16px 15px 16px;
      width: 60px;
      height: 60px;
      border-radius: 0px 15px 15px 0px;
      opacity: 1;
         i {
            animation: check 1s 
         }
         @keyframes check {
            0% {
               transform: rotate(0deg);
               }
            100% {
               transform: rotate(360deg);
               }
         }
      }
}
@mixin for-desktop {
   @media only screen and (min-width : 1440px) {
      @content;            
   } 
}