$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-color: #f8f8f8;




html, body {
   font-family: $font-primary;
   font-style: normal;
   font-size: 16px;
   height: 100%;
   margin: 0;
   padding: 0;
 }
* {
   box-sizing: border-box;
}
a {
   color: black;
   text-decoration: none;   
}
/*header*/
.header {
   position: absolute;
   top: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 1px 10px 0px grey;
   &__button {
      display: none;
      background-color: white;
   }
   &__logo {
      width: 175px;
      margin: 20px 0px 10px 0px;
   }
}
/*main*/
/*search-bar*/
.search-bar {
   background-color: #e8e8e8;
   margin-top: 60px;
   width: 100%;
   text-align: center;   
   input {
      width: 125px;
      background-color: #e8e8e8;
      border: none;
      text-align: center;
      margin: 15px 0px 15px 0px;
   }
}
/*discover*/
#discover {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: $background-color;
   h1 {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      margin: 40px 75px 0px 75px;
   }
   p {
      text-align: center;
      font-size: 18px;
      margin: 15px 30px 30px 30px;
   }
   #explore {   
      width: 210px;
      margin-bottom: 50px;
      padding: 14px 17px 14px 17px;
      color:white;
      background-color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 100px;
   }
}
/*fonction*/
.fonction {
   display: flex;
   flex-direction: column;
   height: 440px;
   h2 {
   font-size: 22px;
   font-weight: 900;
   margin: 50px 20px 10px 20px;
   }
   a {
      width: 100%;
   }
   &__card {
      display: flex;
      align-items: center;
      height: 75px;
      margin: 10px 20px 10px 20px;
      background-color: $background-color;
      border: 1px solid $background-color;
      border-radius: 25px;
      box-shadow: 0px 5px 10px 2px #e8e8e8;
      &:hover {
         background-color: lighten($color-primary,33%);
         border: 1px solid lighten($color-primary,33%);
      }
      h3 {
         margin-right: 20px;
         padding: 3px 7px 3px 7px;
         font-size: 14px;
         color: white;
         background: $color-primary;
         border: 2px solid $color-primary;
         border-radius: 100%;  
      }
      i {
         margin-right: 20px;
         font-size: 22px;
         color: grey;
         &:hover {
            color: $color-primary;
         }
      }
      p {
         font-weight: 700;
      }
   }
}
/*restaurants*/
.restaurants {
   display: flex;
   flex-direction: column;
   background-color: $background-color;
   height: 1230px;
   h2 {
   font-size: 22px;
   font-weight: 900;
   margin: 50px 20px 10px 20px;
   }
}
.card {
   position: relative;
   display: flex;
   flex-direction: column;
   margin: 10px 20px 10px 20px;
   background-color: white;
   border: 1px solid $background-color;
   border-radius: 25px;
   box-shadow: 0px 5px 10px 2px #e8e8e8;
   &__image {
         p {
         position: absolute;
         right: 20px;
         text-align: center;
         color: darken($color-tertiary,40%);
         font-size: 14px;
         border: 1px solid $color-tertiary;
         background-color: $color-tertiary;
         width: 80px;
         padding: 6px;
      }
      img {
         width: 100%;
         height: 175px;
         object-fit: cover;
         border-radius: 20px 20px 0px 0px; 
      }
   }
   &__body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0px 15px 10px;
      h3 {
            margin: 0;
      }      
      p {
         margin: 0px;
         padding-top: 5px;
      }
   }
   &__logo {
      i {
         color: grey;
         font-size: 22px;
         margin-right: 20px;
      }
      &:hover {
         color: $color-primary;
      }
   }
}
/*footer*/
.footer {
   display: flex;
   flex-direction: column;
   margin: 0;
   background-color: darken(grey,25%);   
   &__logo {
      filter: invert(100%);
      margin: 30px 0px 0px 20px;      
      width: 100px;
   }
   &__items {
      margin: 10px 0px 30px 20px;
      i {
         color: white;
         width: 14px;
         padding-right: 25px;
      }
      ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
      }
      li {
         margin-top: 5px;
      }
      a {
         color: white;
      }
   }
}
