
/*footer*/
.footer {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 22px 25px 22px 25px;
   background-color: darken(grey,25%);   
   &__logo {
      filter: invert(100%);      
      width: 139px;
      height: 27px;
   }
   &__items {
      margin-top: 9px;
      i {
         color: white;
         width: 14px;
         padding-right: 25px;
      }
      ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
      }
      li {
         margin-top: 7px;
      }
      a {
         color: white;
      }
   }
}
@media only screen and (min-width : 1440px) {
   .footer {
      flex-direction: row-reverse;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 114px;
      &__logo {
         filter: invert(100%);
         margin: 27px 0px 0px 18px;      
      }
      &__items {
         ul {
         display: flex;
         flex-direction: row;
         margin-top: 27px;  
         }
         li {
            margin-top: 0;
            margin-left: 7px;
         }
         
      }
   }
}