/*header*/
.header {
   position: absolute;
   top: 0;
   width: 100%;
   height: 65px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 1px 10px 0px grey;
   padding: 20px 0px 10px 0px;
   @include for-desktop {
      height: 95px;
      padding: 0px;
   }
   i {
      position: absolute;
      font-size: $big-font-size;
      top: 25px;
      left: 20px;
      @include for-desktop {
         top: 37px;
      }
   }
   &__logo {
      width: 175px;
   }
}

