#btn {
   height: 50px;
   padding: 13px 19px 13px 19px;
   font-weight: $medium-font-weight;
   color:white;
   background: $color-button;
   border: 0px solid $background-color;
   border-radius: 100px;
   cursor: pointer;
   &:hover, :active {
      transform: scale(1.02);
      box-shadow: 0px 4px 10px 0px darken(#e8e8e8,10%);
   }
}
svg {
   position: absolute;
   width: 24px;
   height: 22px;
   z-index: 2;
   right: 0;
   fill-opacity: 0;
   stroke-width: 35px;
   stroke: black;
   margin-right: 50px;
   &:hover, :active {
      fill-opacity: 1;
      transition: fill-opacity 2s;
      stroke-width: 0;
   }
}