* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: $font-primary;
   font-style: normal;
   font-size: $normal-font-size;
   font-weight: $medium-font-weight;
}
a {
   text-decoration: none;
   color: black;
}