/*main*/
/*search-bar*/
.search-bar {
   background-color: #e8e8e8;
   margin-top: 65px;
   width: 100%;
   text-align: center;
   @include for-desktop {
      margin-top: 94px;
   }
   i{
      margin-right: 17px;
   }
   input {
      width: 126px;
      height: 19px;
      background-color: #e8e8e8;
      border: none;
      margin: 15px 0px 15px 0px;
   }
}
.sr-only{
   display: none;
}
/*discover*/
.discover {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: $background-color;
   &__title {
      text-align: center;
      font-size: $big-font-size;
      font-weight: $bold-font-weight;
      margin: 40px 0px 0px 0px;
      width: 275px;
      height: 68px;
      @include for-desktop {
         font-size: 40px;
         margin-top: 30px;
         width: 645px;
         height: 47px;
      }
   }
   &__text {
      text-align: center;
      font-size: $middle-font-size;
      font-weight: $light-font-weight;
      width: 315px;
      height: 46px;
      margin-top: 0;
      @include for-desktop {
         width: 531px;
         margin-top: 18px;
      }
   }
   #btn {
      margin-top: 30px;
      margin-bottom: 60px;
      @include for-desktop {
         margin-top: 0px;
         margin-bottom: 30px;
      }
   }
}
/*fonction*/
.fonction {
   display: flex;
   flex-direction: column;
   margin-bottom: 55px;
   @include for-desktop {
      margin-bottom: 40px;
   }
   h2 {
   font-size: $big-font-size;
   font-weight: $bold-font-weight;
   margin: 45px 20px 20px 20px;
   @include for-desktop {
      width: 1440px;
      margin: auto;
      padding: 50px 180px 15px 180px;
   }
   }
   a {
      width: 100%;
      @include for-desktop {
         width: 33%;
      }
   }
   &__card {
      display: flex;
      align-items: center;
      height: 75px;
      margin: 10px 20px 10px 20px;
      background-color: $background-color;
      border: 1px solid $background-color;
      border-radius: 25px;
      box-shadow: 0px 5px 10px 2px #e8e8e8;
      &:hover {
         transform: scale(1.02);
         i {
            color: $color-primary;
         }
      }
      h3 {
         position: relative;
         left: -10px;
         margin-right: 10px;
         padding: 3px 7px 3px 7px;
         font-size: 14px;
         color: white;
         background: $color-primary;
         border: 2px solid $color-primary;
         border-radius: 100%;  
      }
      i {
         margin-right: 20px;
         font-size: $big-font-size;
         color: grey;
      }
      p {
         font-weight: $medium-font-weight
      }
   }
}
/*restaurants*/
.restaurants {
   display: flex;
   flex-direction: column;
   background-color: $background-color;
   padding-bottom: 45px;
   @include for-desktop {
      padding-bottom: 0;
   }
   h2 {
      font-size: $big-font-size;
      font-weight: $bold-font-weight;
      margin: 50px 20px 10px 20px;
      @include for-desktop {
         width: 1440px;
         margin: auto;
         padding: 30px 180px 0px 180px;
      }
   }
   .card {
      @include for-desktop {
         margin: 25px 0px 25px 0px;
      }
   }
}
.choices {
   @include for-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 1440px;
      margin: auto;
      padding-right: 180px;
      padding-left: 180px;
   }
}
.card {
   position: relative;
   display: flex;
   flex-direction: column;
   margin: 10px 20px 10px 20px;
   background-color: $background-color;
   border: 0px solid $background-color;
   border-radius: 25px;
   box-shadow: 0px 5px 10px 2px #e8e8e8;
   @include for-desktop {
      width: 490px;
   }
   &:hover {
      transform: scale(1.02);
      box-shadow: 0px 5px 10px 2px darken(#e8e8e8,10%);
   }
   &__image {
         p {
         position: absolute;
         top: 13px;
         right: 12px;
         text-align: center;
         color: darken($color-tertiary,40%);
         font-size: 14px;
         font-weight: $medium-font-weight;
         border: 1px solid $color-tertiary;
         border-radius: 2px;
         background-color: $color-tertiary;
         width: 80px;
         height: 29px;
         padding: 6px 9px 6px 9px;
      }
      img {
         width: 100%;
         height: 175px;
         object-fit: cover;
         border-radius: 20px 20px 0px 0px; 
      }
   }
   &__body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0px 15px 10px;
      h3 {
         font-size: $middle-font-size;
         font-weight: $bold-font-weight;
         margin: 0;
      }      
      p {
         margin: 0px;
         padding-top: 5px;
         font-weight: $light-font-weight;
      }
   }
}

