$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-button: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);

$background-color: #f6f6f6;